<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- routerLink a navigációt vezérli   -->
  <a class="navbar-brand" routerLink="/">
        <i class="fa fa-car" aria-hidden="true"></i>
        Fleet Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- routerLinkActive="active: aktív site megjelölése -->
        <li class="nav-item" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/fueling">Fueling</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/vehicle">Vehicle</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/driver">Drivers</a>
        </li>
      </ul>
    </div>
  </nav>