<div class="row top-row">
    <div class="col-3">
        <select 
            [(ngModel)]="phraseKey"
            class="form-control">
            <option value="not set">Find all</option>
            <option 
                *ngFor="let col of cols"
                [value]="col.key">{{col.text}}
            </option>
        </select>
    </div>
        <div class ="col-9">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="fa fa-filter" aria-hidden="true"></i>
                    </span>
                </div>
                    <input type="text" class="form-control" placeholder="filter"
                    [(ngModel)]="phraseString">
            </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr class="text-center">
            <!-- <th>{{ cols[0].text }}</th>
            <th>{{ cols[1].text }}</th>
            <th>{{ cols[2].text }}</th>
            <th>{{ cols[3].text }}</th>
            <th>{{ cols[4].text }}</th>
            <th>{{ cols[5].text }}</th> -->
            <th *ngFor="let col of cols">
                {{ col.text }}
              </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-info">
            <td *ngFor="let col of cols">
                <app-data-cell [row]="newRow" [col]="col"></app-data-cell>
            </td>
            <td>
                <div class="btn-group text-center">
                    <button class="btn btn-success" (click)="onCreate(newRow)">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </td>
        </tr>
        <!-- a * jelenti, hogy meg fogja változtathi a html struktúrát -->
        <!-- ahány eleme van a list-nek, annyiszor fog megjelenni  -->
        <!-- | : pipe (szűrés) jele -->
        <!-- paraméterek elválasztása : -al. Ebben a sorrendben kapja meg a transform fv az adatokat -->
        <tr *ngFor="let row of list | objectArray:phraseString:phraseKey">
            <!-- <td class="py-3 text-center">
                {{ list[0].id }}</td>
            <td>
                <app-data-cell [cellValue]="list[0].name"></app-data-cell> </td>
            <td>
                <app-data-cell [cellValue]="list[0].email"></app-data-cell> </td>
            <td>
                <app-data-cell [cellValue]="list[0].phone"></app-data-cell> </td>
            <td>
                <app-data-cell [cellValue]="list[0].city"></app-data-cell> </td>
            <td>
                <app-data-cell [cellValue]="list[0].address"></app-data-cell> </td>
                <td> -->
                    <td clas="text-center py-4" *ngFor="let col of cols">
                        <app-data-cell 
                            [row]="row"
                            [col]="col"
                        ></app-data-cell>
                    </td>
                    <td>
                    <div class="btn-group">
                        <button class="btn btn-info" (click)="onUpdate(row)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-danger" (click)="onDelete(row)">
                            <!-- data-property binding - jelölése [], az adatot a component.ts-ből veszi -->
                            <i [class]="deleteIconClass"></i>
                        </button>
                    </div>
                </td>
        </tr>
         <!-- hozni data-row komponenst, mivel tablenél mindig jobb minél kisebb egységre bontani, könnyeb hivatkozni, dolgozni vele-->
        <!-- <app-data-row></app-data-row> -->
    </tbody>
</table>

<!-- DEBUG: {{newRow | json }} -->