
h2 {
    margin: 1rem;
}

.home-box {
    box-shadow: 0 0 3px;
    border-radius: 3px;
    min-height: 300px;
    margin-top: 10px;
}

h3 {
    background-color: lightgrey;
    padding: 5px 0 7px;
    text-align: center;
    font-size: 1.3rem;
    color: black;
    margin-bottom: 25px;
}